@font-face {
  font-family: "BeVietnam-Regular";
  src: url("/fonts/BeVietnam-Regular.ttf");
}

.App {
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  background: #2d232e;
}

* {
  box-sizing: border-box;
}

@media (max-width: 800px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
}
::-webkit-scrollbar-thumb {
  background: #897e87;
  border: 0px none #ffffff;
}

::-webkit-scrollbar-track {
  background: #e0ddcf;
  border: 0px none #ffffff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  overflow-y: hidden;
  font-family: "BeVietnam-Regular";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
}

.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

.App-link {
  color: #61dafb;
}

.navigation-bar {
  @media (max-width: 800px) {
    display: none;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#home {
  background-color: #086788;
  height: 100vh;
}

@keyframes expand {
  0% {
    left: 0%;
  }
  100% {
    left: -50%;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 0 16px 16px 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

@keyframes reveal {
  0% {
    -webkit-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

@keyframes swing-in-bottom-bck {
  0% {
    background-color: white;
  }
  100% {
    background-color: blue;
  }
}

@keyframes wipe-open {
  0% {
    width: 0;
    opacity: 0;
    /* visibility: hidden; */
  }
  100% {
    width: 100vw;
    opacity: 1;
  }
}

.carousel {
  animation: wipe-open;
  animation-timeline: view();
  animation-range: entry 0% cover 400px;

  > * {
    text-wrap: nowrap;
    &:hover {
      scale: 1.4;
    }
  }
}

@supports (animation-timeline: view()) {
  @keyframes move {
    from {
      /* background-color: lightcoral; */
    }
    to {
      /* Move horizontally so that right edge is aligned against the viewport */
      /* transform: translateX(calc(-100% + 100vw)); */
      /* background-color: lightblue; */
      transform: translateX(calc(-100% + 100vw));
    }
  }

  @keyframes rot {
    entry 0% {
      opacity: 1;
    }
    entry 50% {
      opacity: 0;
    }
    entry 100% {
      opacity: 1;
    }
  }

  #scroll-section {
    /* Stretch it out, so that we create room for the horizontal scroll animation */
    overflow: visible; /* To make position sticky work … */
    view-timeline-name: --scroll-tl;
    view-timeline-axis: block;
  }
}

.project-card {
  border-radius: 50px;
  background: #2d232f;
  box-shadow: 20px 20px 60px #261e28, -20px -20px 60px #342836;
}

.shadow {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.158) 0%,
    rgba(0, 0, 0, 0) 5%
  );
}

.rounded {
  transition: all 0.2s ease-in-out;
}

.name-card {
  animation: expand linear;
  animation-timeline: scroll();
  animation-range: cover 0% cover 100%;
}

#output pre,
#output pre mark {
  line-height: 24px;
  color: #fafbfb;
}
#output.has-highlights[data-seltreat="focus"] pre > :not(mark),
#output.has-highlights[data-seltreat="focus"] pre :not(mark),
#output.has-highlights[data-seltreat="focus"] pre {
  color: #87858e;
}
#output.has-highlights[data-seltreat="highlight"] pre mark {
  background-color: #425a6c;
}
#output::after {
  /* to avoid background color being copied to clipboard */
  background-color: #241e30;
}

#output pre .token.comment,
#output pre .token.prolog,
#output pre .token.doctype,
#output pre .token.cdata {
  color: #808080;
}

#output pre .token.namespace {
  opacity: 0.7;
}

#output pre .token.string,
#output pre .token.regex,
#output pre .token.attr-value {
  color: #ffa65c;
}

#output pre .token.punctuation {
  color: #8be9fd;
}

#output pre .token.operator {
  color: #8be9fd;
}

#output pre .token.entity,
#output pre .token.url,
#output pre .token.symbol,
#output pre .token.number,
#output pre .token.variable,
#output pre .token.constant,
#output pre .token.inserted {
  color: #bd93f9;
}

#output pre .token.atrule,
#output pre .token.class-name,
#output pre .token.attr-name,
#output pre .token.selector,
#output pre .token.builtin {
  color: #d65bad;
}

#output pre .token.deleted,
#output pre .token.property,
#output pre .token.boolean,
#output pre .token.keyword,
#output pre .token.tag {
  color: #1cdec9;
}

#output pre .token.important,
#output pre .token.metadata {
  color: #ff8383;
}

#output pre .token.bold {
  font-weight: bold;
}

#output pre .token.italic {
  font-style: italic;
}
