@font-face {
  font-family: 'BeVietnam-Regular';
  src: url('/fonts/BeVietnam-Regular.ttf');
}

.App {
  text-align: center;
  overflow-y: scroll;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

@media (max-width: 800px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
}
::-webkit-scrollbar-thumb {
  background: #5F7470;
  border: 0px none #ffffff;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.171);
  border: 0px none #ffffff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body{
  overflow-y: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  
}

.fadeIn{
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;
}

.App-link {
  color: #61dafb;
}

.navigation-bar {
  @media (max-width: 800px) {
    display: none;
  }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#home {
  background-color: #086788;
  height: 100vh;
}